*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.body{
    background-image: url(./imagenes/fondo.jpg);
    background-size: 200rem 100rem;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 196, 0);
}
.grid{
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-style: double;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    min-height: 50rem;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item2 item3 item4"
    "item1 item5 item6 item7"
    "item1 item5 item6 item7";
}
.grid__total{
    margin-top: 3rem;
    height: 400%;
    width: 300%;
    text-align: center;
    padding: 0.5rem;
    overflow: visible;
}
.footer{
    text-align: center;
    color: rgb(247, 247, 247);
}
.nav{
    display: flex;
    flex-direction: column;
    grid-area: item1;
    background-color: black;
    justify-content: center;
}
.nav__enlaces{
    padding: 1rem;
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.grid1{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item2;
}
.grid2{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item3;
}
.grid3{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item4;
}
.grid4{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item5;
}
.grid5{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item6;
}
.grid6{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item7;
}
.grid-Premium{
    border: solid rgb(255, 196, 0);
    border-radius: 5rem;
}

.nav__hidden {
    display: none;
}
.video{
    width: 80%;
    height: 80%;
}





@media screen and (max-width:600px) {
.nav{
    display: none;
}
.nav__hidden {
    display: block ;
}
.grid{
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-style: double;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    min-height: 50rem;
    padding: .5rem;
    grid-template-areas: 
    "item2 item3 item4"
    "item5 item6 item7";
}
.body{
    background-image: url(./imagenes/fondo.jpg);
    background-size: 3000px, 100rem;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 196, 0);
}

.grid__total{
    margin-top: 3rem;
    min-height: 100%;
    width: 300%;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
}

.nav__enlaces{
    padding: 0.55rem;
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.video {
    margin-top: 5rem;
    height: 30%;
    width: 70%;
}