.grid1{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item2;
}
.grid2{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item3;
}
.grid3{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item4;
}
.grid4{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item5;
}
.grid5{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item6;
}
.grid6{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    grid-area: item7;
}
.grid-Premium{
    border: solid rgb(255, 196, 0);
    border-radius: 5rem;
}
.grid{
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-style: double;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    min-height: 50rem;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item2 item3 item4"
    "item1 item5 item6 item7"
    "item1 item5 item6 item7";
}
.grid__total{
    margin-top: 3rem;
    height: 400%;
    width: 300%;
    text-align: center;
    padding: 0.5rem;
    overflow: visible;
}