
.nav{
    display: flex;
    flex-direction: column;
    grid-area: item1;
    background-color: black;
    justify-content: center;
}
.nav__enlaces{
    padding: 1rem;
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.nav__hidden {
    display: none;
}

