*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.body{
    background-image: url(./imagenes/fondo.jpg);
    background-size: 200rem 100rem;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 196, 0);
}
.video{
    width: 80%;
    height: 80%;
}